importo librerias

In [1]:
import pandas as pd
import numpy as np

traigo la tabla a limpiar

In [ ]:
player = pd.read_csv('player.csv')
player # visualizo

In [ ]:
player.isnull().sum() # la unica columna con nulos es first_name

In [ ]:
player[player['first_name'].isnull()] # verifico la columna

           id     full_name first_name     last_name  is_active
1666     2775  Ha Seung-jin        NaN  Ha Seung-jin          0
3129     2403          Nene        NaN          Nene          0
4140   201180       Sun Yue        NaN       Sun Yue          0
4789     2397      Yao Ming        NaN      Yao Ming          0
4795   201146   Yi Jianlian        NaN   Yi Jianlian          0
4821  1627753       Zhou Qi        NaN       Zhou Qi          0

Considero que los nulos en first_name no perjudican al analisis. El campo full_name conserva la informacion suficiente para identificar al jugador

In [ ]:
player['is_active'].unique() # verifico que la columna 'is_active' sea solo 0 y 1

array([0, 1])

Descargo el archivo post limpieza

In [7]:
player.to_csv('player_filtrado.csv', index=False)